p{
        font-family: "Playwrite CZ", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 5px;
      
}
button{
    padding: 20px;
}
img{
    width: 250px;
}
#pi{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
